.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.snackbar-close-btn-container svg {
  fill: #fff !important;
}
